.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.text-color-999{
    font-size: 12px;
    color: #999;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}